body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.5;
    align-items: center;
    margin: 0;
}

header {
    display: flex;
    border-bottom: 1px solid seashell;
    width: 100%;
    height: 69px;
    position: fixed;
    background-color: black;
    z-index: 99;
}

header img {
    height: 50px;
    margin: 10px;
}

nav{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-weight: 700;
}

/*Our Mission*/
.missionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-image: url(../imgs/img-mission-background.webp);
    height: 700px;
    width: 1200px;
    margin-bottom: 50px;
}

.missionContainer .missionText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: black;
}
/*Tea of the Month*/

.teaMain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.berryBlitz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teaContainer img {
    display: flex;
    width: 300px;
    height: 200px;
}

.teaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

h2, h4 {
    margin: 10px;
}
